.checkEditItem {
  display: flex;
}

.checkEditItem:not(:last-child) {
  margin-bottom: 16px;
}

.checkEditInput {
  border: none;
  border-radius: 0;

  padding: 4px 2px;
  font-size: 18px;
}

.checkEditInput:focus {
  outline: none;
}

.checkEditTitleContainer {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--gray-1-light);
  margin-right: 8px;
}

.trashBtn {
  margin-right: 12px;
  color: #eb3f3f;
}

.numberBadgeWrapper {
  margin-right: 4px;
}

.checkEditPrice {
  width: 80px;
  text-align: right;
  border-bottom: 1px solid var(--gray-1-light);
  border-radius: 0;
}
