.overlay {
  height: 100%;
  width: 100%;
  color: var(--main-light);
  background-color: var(--main-dark);
  opacity: 0.8;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
