.app {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 640px;
  max-height: 980px;
  box-shadow: 7px 7px 17px -6px rgba(168, 168, 168, 1);
}

.main {
  position: relative;
  background-color: var(--main-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: relative; */
}

/* Find Check Styles */
.findCheckWrapper {
  flex: 1;
  background: var(--main-dark);
  color: var(--main-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.findCheck {
  flex: 1;
  display: flex;
  align-items: center;
}

/* CheckCamera Styles */
.cameraWrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.videoImage {
  background-color: var(--main-dark);
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* CameraControls Styles */

.cameraControls {
  width: 100%;
  height: auto;
  margin-top: auto;
  background: var(--main-light);
  bottom: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cameraControlsOuterWrapper {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: auto;
  background: var(--main-light);
  bottom: 0;
  display: flex;
  align-items: end;
}

.cameraControlsInnerWrapper {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.helperText {
  /* position: absolute; */
  text-align: center;
  margin-bottom: 16px;
  font-size: 20px;
}

/* .cameraControls.ready {
  position: relative;
  width: 100%;
} */
/* 
bottom: 16,
borderRadius: '16px',
left: '50%',
transform: 'translateX(-50%)',
width: 'calc(100% - 32px)', */

/* .cameraControls.camera {
  position: absolute;
  width: calc(100% - 32px);
  bottom: 16;
  left: 50%;
  transform: translateX(-50%);
} */
