.mainInputContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.dollarSign {
  margin-right: 4px;
}

/* Input Styles */

.label {
  margin-right: 4px;
}

.inputContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.input {
  text-align: right;
  width: 88px;
  border: none;
  border-bottom: 1px solid var(--main-dark);
  padding: 4px;
  font-size: 18px;
  border-radius: 0;
}

.input:focus {
  outline: none;
}
