/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[3].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[2].oneOf[3].use[2]!./node_modules/next/font/google/target.css?{"path":"src/app/layout.tsx","import":"Roboto","arguments":[{"weight":["100","300","400","500","700"],"style":["normal","italic"],"subsets":["latin"]}],"variableName":"roboto"} ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* cyrillic-ext */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(/_next/static/media/5f90c536ae85dd38-s.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(/_next/static/media/e58e9ffb3994cb41-s.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(/_next/static/media/5263bc4b08c2f55c-s.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(/_next/static/media/e861f746f27197e8-s.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(/_next/static/media/f943c040d756634c-s.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(/_next/static/media/28be9e914c3ffaae-s.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(/_next/static/media/d55edb6f37902ebf-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(/_next/static/media/7e624512c3433db5-s.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(/_next/static/media/d8fdc95d5a4284b0-s.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(/_next/static/media/7add1b04a8dbb074-s.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(/_next/static/media/4e4687409e533403-s.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(/_next/static/media/9714907d9a8e12c0-s.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(/_next/static/media/96827bb3668ab7bf-s.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(/_next/static/media/ee65d20c5e82dfb1-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/e195dd2ded485df3-s.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/b6db722c6886c2cd-s.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/9b67ab375515cd6f-s.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/e35c7314ac518ddc-s.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/a3c201c07e8eb753-s.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/04fe87c30c4f76ea-s.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/3a04115668d8070d-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/13259ce60de2aa3e-s.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/79015435f1a55eef-s.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/388fb79562c9fc54-s.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/5f4dfe83faee04f1-s.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/67e05ba3467b9f4d-s.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/daa8cca6b52a70fa-s.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/3a18fc8da1cdcd01-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/_next/static/media/03b685511c0eaac3-s.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/_next/static/media/9cf7d128be063d32-s.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/_next/static/media/101c7b68f2d8b610-s.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/_next/static/media/1e8103c5d17beb1d-s.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/_next/static/media/91a88e0c5dd21dfa-s.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/_next/static/media/ee7e17a7bdd8636b-s.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/_next/static/media/699512af39861afa-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(/_next/static/media/3d8af05b1dbb5df8-s.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(/_next/static/media/a50efca067c45ff7-s.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(/_next/static/media/af961b7eb9a15f7e-s.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(/_next/static/media/c0058a8df935bb33-s.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(/_next/static/media/dbe242b5c3b9d8cb-s.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(/_next/static/media/3511fdf6750b518d-s.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(/_next/static/media/02205c9944024f15-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/_next/static/media/83e4d81063b4b659-s.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/_next/static/media/bd976642b4f7fd99-s.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/_next/static/media/de9eb3a9f0fa9e10-s.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/_next/static/media/44c3f6d12248be7f-s.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/_next/static/media/71ba03c5176fbd9c-s.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/_next/static/media/4a8324e71b197806-s.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/_next/static/media/7d8c9b0ca4a64a5a-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/7c53f7419436e04b-s.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/1c57ca6f5208a29b-s.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/cff529cd86cc0276-s.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/7be645d133f3ee22-s.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/5647e4c23315a2d2-s.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/3dbd163d3bb09d47-s.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/934c4b7cb736f2a3-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/dfa8b99978df7bbc-s.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/42d52f46a26971a3-s.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/a6d330d7873e7320-s.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/a5b77b63ef20339c-s.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/d117eea74e01de14-s.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/eb52b768f62eeeb4-s.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/627622453ef56b0d-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/_next/static/media/e25729ca87cc7df9-s.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/_next/static/media/912a9cfe43c928d9-s.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/_next/static/media/baf12dd90520ae41-s.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/_next/static/media/bbdb6f0234009aba-s.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/_next/static/media/f06116e890b3dadb-s.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/_next/static/media/8fb72f69fba4e3d2-s.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Roboto_8a2f2a';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/_next/static/media/0e4fe491bf84089c-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {font-family: '__Roboto_Fallback_8a2f2a';src: local("Arial");ascent-override: 92.67%;descent-override: 24.39%;line-gap-override: 0.00%;size-adjust: 100.11%
}.__className_8a2f2a {font-family: '__Roboto_8a2f2a', '__Roboto_Fallback_8a2f2a'
}

/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[3]!./src/app/globals.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --main-dark: black;
  --main-light: white;
  --main-light-opacity-4: rgba(225, 225, 225, 0.4);
  --gray-1-light: #dfdfdf;
  --gray-2-light: #c0c0c0;
  --gray-3-light: #707070;
  --blue: #002dff;
  --blue-light: #ddf0ff;
  --green: #1dac1d;
  --green-light: #d9ffd9;
  --red: #ff0000;
  --red-light: #ffdddd;
  --venmo: #008cff;
  --zelle: #6d1fd4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
main {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  height: 100%;
  padding: 16px;
}

.scrollbar-hide {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/* For WebKit based browsers (Chrome, Safari) */
.scrollbar-hide::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-hide::-webkit-scrollbar-track {
  background-color: transparent;
}

.scrollbar-hide::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[3]!./node_modules/react-loading-skeleton/dist/skeleton.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
@keyframes react-loading-skeleton {
  100% {
    transform: translateX(100%);
  }
}

.react-loading-skeleton {
  --base-color: #ebebeb;
  --highlight-color: #f5f5f5;
  --animation-duration: 1.5s;
  --animation-direction: normal;
  --pseudo-element-display: block; /* Enable animation */

  background-color: var(--base-color);

  width: 100%;
  border-radius: 0.25rem;
  display: inline-flex;
  line-height: 1;

  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  overflow: hidden;
  z-index: 1; /* Necessary for overflow: hidden to work correctly in Safari */
}

.react-loading-skeleton::after {
  content: ' ';
  display: var(--pseudo-element-display);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    90deg,
    var(--base-color),
    var(--highlight-color),
    var(--base-color)
  );
  transform: translateX(-100%);

  animation-name: react-loading-skeleton;
  animation-direction: var(--animation-direction);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@media (prefers-reduced-motion) {
  .react-loading-skeleton {
    --pseudo-element-display: none; /* Disable animation */
  }
}

/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./src/app/page.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
.page_app__1ooRt {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 640px;
  max-height: 980px;
  box-shadow: 7px 7px 17px -6px rgba(168, 168, 168, 1);
}

.page_main__ibFHK {
  position: relative;
  background-color: var(--main-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: relative; */
}

/* Find Check Styles */
.page_findCheckWrapper__fQtm9 {
  flex: 1 1;
  background: var(--main-dark);
  color: var(--main-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.page_findCheck__xvE8_ {
  flex: 1 1;
  display: flex;
  align-items: center;
}

/* CheckCamera Styles */
.page_cameraWrapper__5PJOS {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.page_videoImage__3wRt3 {
  background-color: var(--main-dark);
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* CameraControls Styles */

.page_cameraControls__1U5So {
  width: 100%;
  height: auto;
  margin-top: auto;
  background: var(--main-light);
  bottom: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page_cameraControlsOuterWrapper__R2S81 {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: auto;
  background: var(--main-light);
  bottom: 0;
  display: flex;
  align-items: end;
}

.page_cameraControlsInnerWrapper__HtQvn {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.page_helperText__VXpmB {
  /* position: absolute; */
  text-align: center;
  margin-bottom: 16px;
  font-size: 20px;
}

/* .cameraControls.ready {
  position: relative;
  width: 100%;
} */
/* 
bottom: 16,
borderRadius: '16px',
left: '50%',
transform: 'translateX(-50%)',
width: 'calc(100% - 32px)', */

/* .cameraControls.camera {
  position: absolute;
  width: calc(100% - 32px);
  bottom: 16;
  left: 50%;
  transform: translateX(-50%);
} */

